<!-- /templates/about.html-->
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
<html>
<head>
    <title> About Our Page</title>
</head>
<h2> About Our Page</h2>
<body> <center>
    <p> Switching to electric vehicles is a key step towards reducing carbon dioxide emissions and promoting sustainability.
        Electric vehicles emit significantly less carbon dioxide than traditional gasoline-powered cars, which helps to mitigate the effects of climate change. 
        By using renewable energy sources such as solar and wind power to charge their batteries, electric vehicles can also help to reduce dependence on fossil fuels and promote sustainable energy practices. 
        Additionally, electric vehicles have a longer lifespan and require less maintenance than conventional cars, reducing waste and promoting resource conservation. 
        Overall, transitioning to electric vehicles has the potential to significantly reduce carbon emissions and promote a more sustainable future for generations to come.
    </p>
</center></body>
</html>